@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


.shiny-text {
color: #ffffffe3; /* Adjust this color to change intensity/style */
background: linear-gradient(
  120deg,
  rgba(0, 0, 0, 0) 40%,
  rgba(255, 255, 255, 0.8) 50%,
  rgba(255, 255, 255, 0) 60%
);
background-size: 200% 100%;
-webkit-background-clip: text;
background-clip: text;
display: inline-block;
animation: shine 5s linear infinite;

}

@keyframes shine {
0% {
  background-position: 100%;
}
100% {
  background-position: -100%;
}
}

.shiny-text.disabled {
animation: none;
}